* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color:#515076;
}

.page {
    max-width: 1280px;
    min-height: 1715px;
    margin: 0 auto;
}

.container-title {
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    line-height: 111%;
    margin-bottom: 110px;
}

.wrapper {
    padding-top: 220px;
    background-image: url("/images/background-dandelion.png");
    background-position-x: 85px;
    background-position-y: -40px ;
    background-repeat: no-repeat;
    background-size: initial;
}

.container-product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
    list-style: none;
}

.card-container > img {
    margin-bottom: 30px;
}

.card-container > span {
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    margin-bottom: 5px;
}

.product-category {
    display: inline-block;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    text-transform: uppercase;
    color: #a5a3b9;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-description {
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    margin-bottom: 25px;
}

.product-compound-item {
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
}

.product-compound ::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 8px;
    border: 1px solid #515076;
    border-radius: 50%;
}

.product-price-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.bg-aqua {
    background-color: aqua;
}